.git
.cursor
.local-test-env
**/node_modules
**/.next
**/dist
**/.env
**/.env.*
**/*.pem
**/*.log
**/*.tsbuildinfo
**/next-env.d.ts
cli/data.json
cli/_generated
ui/infrastructure.json
ui/public/infrastructure.json
.tmp
